<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//fonts.googleapis.com/css?family=Hind" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



<div class="container">
    <img src="" alt=logo">
    <h1>ABSTRACT | יובל חפץ</h1>
</div>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div>
    
<div id="sk-top-modules">
<ul class="nav navbar-nav navbar-right">
<li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> צור קשר</a></li>
<li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> אודות</a></li>
<li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i> עבודות</a></li>
</ul>
</div>

</div>
</div>
</nav>