body {
    font-family:hind;
}

h1{
    font-family:montserrat;
    font-size: 30px;
}


.navbar {
    border-radius: 0;
    font-family: Aharoni;
    font-size: 25px;
}

.navbar-inverse {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color:#34495e;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #34495e;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #34495e;
}

.btn-margin-left {
    margin-left: 5px;
}
.btn-margin-right {
    margin-right: 10px;
}

.btn-danger {
    color: #fff;
    background-color: #c0392b;
    border-color: #c0392b;
}

.btn-danger:hover {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-success {
    color: #fff;
    background-color: #27ae60;
    border-color: #27ae60;
}

.btn-success:hover {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-primary {
    color: #fff;
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-primary:hover {
    background-color: #3498db;
    border-color: #3498db;
}

.badge-danger {
    background-color: #e74c3c;
}
