<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//fonts.googleapis.com/css?family=Hind" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="uplogo">
        <img class="log" src="assets/logoa.jpg" width="881" height="155" >
</div>

<nav class="navbar navbar-inverse">
<div>
    
<div id="sk-top-modules">
<ul class="nav navbar-nav navbar-right">
<li *ngIf="this.type=='mastery'"><a [routerLink]="" (click)="this.logOut()"><i aria-hidden="true"></i> התנתק</a></li>
<li><a  [routerLink]="" (click)="contactUs()"><i aria-hidden="true"></i> צור קשר</a></li>
<li><a [routerLink]="" (click)="info()"><i aria-hidden="true"></i> אודות</a></li>
<li><a [routerLink]="" (click)="works()"><i aria-hidden="true"></i> עבודות</a></li>
<li *ngIf="this.type=='mastery'"><a [routerLink]="" (click)="this.main()"><i aria-hidden="true"></i> דף מנהל</a></li>
</ul>
</div>

</div>
</nav>