<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <br>
	<div class="well">
		<h2 class="text-divider"><span>Point</span></h2>
        <p>
            add "text-divider" class and SPAN around your text to create a pseudo
            heading divider.
            the style colors I used are setup for .well so you might want to 
            setup different color rules.
            add "text-divider" class and SPAN around your text to create a pseudo
            heading divider.
            the style colors I used are setup for .well so you might want to 
            setup different color rules.
            add "text-divider" class and SPAN around your text to create a pseudo
            heading divider.
            the style colors I used are setup for .well so you might want to 
            setup different color rules.
            add "text-divider" class and SPAN around your text to create a pseudo
            heading divider.
            the style colors I used are setup for .well so you might want to 
            setup different color rules.
            a
        </p>
	</div>
</div>

<div class= "pics">
  <img src="https://r-ec.bstatic.com/images/hotel/max1024x768/957/95720220.jpg">
  <br>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymML2dUgnzl3J9FRMbWgt-AgGBz00kucq0zA-OJiHmTebOsBl">
  <br>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvsCnKBeeJOpfd3aGm-ePB4IkcnOnE9tEcAUx1nN6C705QO85S">
</div>

