<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="h2">
                    צור קשר </h2><br><br>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                שם</label>
                            <input type="text" class="form-control" id="name" placeholder="הזן שם" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                כתובת דואר אלקטרוני</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="הזן כתובת דואר אלקטרוני" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                 נושא</label>
                                <input type="subject" class="form-control" id="subject" required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                הודעה</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            שלח פנייה</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-phone"></span></legend>
            <h4> טלפון: 02-6738542</h4>
            <h4>נייד: 052-2634461 </h4>
            <legend><span class="glyphicon glyphicon-envelope"></span></legend>
            <address>
                <h4>יובל חפץ</h4>
                <a href="mailto:#">abstract@actcom.co.il</a>
            </address>
            </form>
        </div>
    </div>
</div>
