<div class = "selectedit">
<legend>בחר עבודה</legend>
<select class="user-type" [(ngModel)]="selectedWork" (ngModelChange)="onChangeObj()" name="selectedWork">
  <option *ngFor="let type of this.works" [value]="type">{{type}}</option>
</select>
</div>
<div *ngIf="selectedWork!='מתוך רשימה'">
    <form class="well form-horizontal">
      <fieldset>
          <legend>עריכת פרטים</legend>
    <div class="form-group">
      <label class="col-md-4 control-label">שם העבודה</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="	glyphicon glyphicon-briefcase"></i></span><input [(ngModel)]="work.title" name="title" class="form-control" required="true" value="" type="text"></div>
      </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">כותרת משנית</label>
        <div class="col-md-8 inputGroupContainer">
           <div class="input-group"><span class="input-group-addon"><i class="	glyphicon glyphicon-briefcase"></i></span><input [(ngModel)]="work.subtitle" name="first" class="form-control" required="true" value="" type="text"></div>
        </div>
     </div>
    <div class="form-group">
      <label class="col-md-4 control-label">תיאור</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span><textarea [(ngModel)]="work.content" id="addressLine1" name="addressLine1" class="form-control" required="true" value="" type="text"></textarea></div>
      </div>
    </div>
    <div class = "buttons">
        <button class="btn btn-labeled btn-primary addedit" [disabled]="this.file_work_selected!=false" id="save" (click)="flagimages()">עריכת תמונות</button>
        <button class="btn btn-labeled btn-primary pdf" [disabled]="this.file_work_selected!=false" id="save" (click)="flagpdf()">PDF הוספת\שינוי</button>
    </div>
    <div *ngIf="this.imges!=0">
        <legend>ערוך תמונות</legend>
        <div class= "pics col-md-8 inputGroupContainer" *ngFor="let images of this.work.images; let i=index">
          <p></p>
            <img src='{{images.url}}'>
          <br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngIf = "i>0"  (click)="swapic(i)" type="button" class="btn btn-secondary">הגדר כתמונה ראשית</button>
                <button (click)="deletimg(i)" type="button" class="btn btn-secondary"  style="background-color: rgb(197, 94, 94)"><i class="fa fa-times"></i></button>
                <button *ngIf = "i>0" (click)="swapup(i)" type="button" class="btn btn-secondary" style="background-color: rgb(238, 218, 103)"><i class="fa fa-arrow-up"></i></button>
                <button *ngIf = "i<this.work.images.length-1"(click)="swapdown(i)" type="button" class="btn btn-secondary" style="background-color: rgb(238, 218, 103)"><i class="fa fa-arrow-down"></i></button>
            </div>
              
          </div>
          <button class = "addmore" (click)="flagmoreimages()">העלה תמונות נוספות</button>
          <div *ngIf= "this.moreimages!=0">

            <legend>הוסף תמונות</legend>
            <div *ngFor="let item of this.arr; let i = index" class="input-group image-preview">
                <div *ngIf="i<this.counter">
                <div class="btn btn-default image-preview-input">
                    <input type="file" (change)="selectFile($event)" name="fileupload" />
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                    <span class="image-preview-input-title">בחר קובץ</span>
                </div>
                <!-- <div class="form-group" *ngIf="this.selectedFiles != null && i==this.counter-1" >{{this.selectedFiles.item(0).name}}</div> -->
                <div class="buttons">
                    <button *ngIf="i==this.counter-1" type="button" class="btn btn-labeled btn-primary"  (click)="upload(0)">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-upload"></i>
                        </span>העלה קובץ</button>
                    <button *ngIf="i==this.counter-1" type="button" class="btn btn-labeled btn-primary" [hidden]="this.selectedFiles !=true" (click)="cancelSelectFile()">
                        <span class="btn-label">
                        </span>בטל בחירה</button>
                </div>
                <div class="form-group" *ngIf="currentFileUpload && i==this.counter-1" class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" attr.aria-valuenow="{{progress.percentage}}"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                        {{progress.percentage}}%</div>
                </div>
                <div><button *ngIf="i==this.counter-1" class="btn btn-labeled btn-primary additional" id="save" (click)="counterUp()">העלה תמונה נוספת</button></div>

            </div>
            </div>
            
          </div>
    </div>
    <div *ngIf="this.pdf!=0">
        <legend>PDF ערוך</legend>
        <div *ngIf="this.work.pdf == undefined">
          <h3>כרגע אין קובץ במערכת</h3>
        </div>
        <div *ngIf="this.work.pdf != undefined">
            <h3>{{this.work.pdf.name}} במערכת טעון המסמך:</h3>
          </div>
        <div class="col-md-8 inputGroupContainer">
            <div class="input-group image-preview">
              
                <div class="btn btn-default image-preview-input">
                    <input type="file" (change)="selectFile($event)" name="fileupload" />
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                    <span class="image-preview-input-title">בחר קובץ</span>
                </div>
                <!-- <div class="form-group" *ngIf="this.selectedFiles != null" >{{this.selectedFiles.item(0).name}}</div> -->
                <div class="buttons">
                    <button type="button" class="btn btn-labeled btn-primary"  (click)="upload(1)">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-upload"></i>
                        </span>העלה קובץ</button>
                    <button type="button" class="btn btn-labeled btn-primary" [hidden]="this.selectedFiles !=true" (click)="cancelSelectFile()">
                        <span class="btn-label">
                        </span>בטל בחירה</button>
                </div>
                <div class="form-group" *ngIf="currentFileUpload" class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" attr.aria-valuenow="{{progress2.percentage}}"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress2.percentage+'%'}">
                        {{progress2.percentage}}%</div>
                </div>
            </div>
         </div>


      </div>
      <h6>לצורך שמירת השינויים יש ללחוץ על הכפתור הירוק בתחתית דף זה</h6>
      <button class="btn btn-labeled btn-primary addfinal" [disabled]="this.file_work_selected!=false" id="save" (click)="edit()">סיים ושמור שינויים</button>
      <button class="btn btn-labeled btn-primary delete" id="save" (click)="deleteWork()">מחק פרויקט</button>

    </fieldset>
  </form>

 
</div>