.selectedit{
    background-color: rgb(197, 193, 201);
    width: 100%;

    text-align: center;
}

.addfinal{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    background-color: darkgreen;
}

.addedit{
    background-color: midnightblue;
}

.addmore{
    background-color: royalblue;
    margin-top: 4%;
    margin-right: 30%;
    margin-left: 30%;
    width: 30%;
}
.pdf{
    background-color: tomato;
}

.pics{
    margin-left: 20%;

  
}

.pics img{
    display: list-item;
    float: left;
    width: 200px;
    height: 100px;
    /* height: 20%; */
}
.pics{
    width: 90%;
}

.btn{
    border: 2px;
    border-color: black;
    margin: 3px;
}

.btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    text-align: center;
    display: block; /* Make the buttons appear below each other */
}
