
.buttons{
    direction: rtl;
}
.buttons2{
    width: 30%;
    direction: rtl;
}
.buttons3{
    direction: rtl;
    margin-right: 30%;
    margin-left: 30%;
    width: 30%;
}

legend,textarea,input{
    direction: rtl;
}
.buttons3 button{
    padding-bottom: 10px;
    text-align: center
} 
label{
    direction: rtl;
    margin-right:80px;
}

.inputGroupContainer{
    margin-left:320px;
}

.selectedit{
    background-color: rgb(197, 193, 201);
    width: 100%;
    direction: rtl;
    text-align: center;
}

.addedit{
    background-color: midnightblue;
}

.addmore{
    direction: rtl;
    margin-right: 30%;
    margin-left: 30%;
    width: 30%;
    background-color: rgb(95, 100, 100);
    color: white;
}

.pdfdiv{
    direction: rtl;
}
.image-preview{
    direction: rtl;
    float: right;
    width: 100%
}

.pics img{
    display: list-item;
    float: left;
    width: 200px;
    height: 100px;
    /* height: 20%; */
}
.pics{
    width: 95%;
}
.images{
    margin-left: 85%;
}

.btn{
    border: 2px;
    border-color: black;
    margin: 3px;
}

.btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    text-align: center;
    display: inherit; /* Make the buttons appear below each other */
    float: right;
}
.btn-group{
    margin-right: 16%;
    float: right;
    width: 15%;
}
