.selectedit{
    background-color: lightgoldenrodyellow;
    width: 30%;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}

.addfinal{
    margin-right: 30%;
    margin-left: 30%;
    width: 30%;

    background-color: darkgreen;
}

.addedit{
    background-color: midnightblue;
}

.addmore{
    background-color: royalblue;
    margin-top: 4%;
    margin-right: 30%;
    margin-left: 30%;
    width: 30%;
}
.pdf{
    background-color: tomato;
}

.pics{
    margin-left: 20%;

  
}

.pics img{
    display: list-item;
    float: left;
    width: 100 px;
    height: 100px;
    /* height: 20%; */
}
.pics{
    width: 90%;
}

.btn{
    border: 2px;
    border-color: black;
    margin: 3px;
}