<div class = "selectedit">
<legend>בחר עבודה</legend>
<select class="user-type" [(ngModel)]="selectedWork" (ngModelChange)="onChangeObj()" name="selectedWork">
  <option *ngFor="let type of this.works" [value]="type">{{type}}</option>
</select>
</div>
<div *ngIf="selectedWork!='מתוך רשימה'">
    <form class="well form-horizontal">
      <fieldset>
          <legend>עריכת פרטים</legend>
    <div class="form-group">
      <label class="col-md-4 control-label">שם העבודה</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="	glyphicon glyphicon-briefcase"></i></span><input [(ngModel)]="work.title" name="title" class="form-control" required="true" value="" type="text"></div>
      </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">כותרת משנית</label>
        <div class="col-md-8 inputGroupContainer">
           <div class="input-group"><span class="input-group-addon"><i class="	glyphicon glyphicon-briefcase"></i></span><input [(ngModel)]="work.subtitle" name="first" class="form-control" required="true" value="" type="text"></div>
        </div>
     </div>
    <div class="form-group">
      <label class="col-md-4 control-label">תיאור</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span><textarea [(ngModel)]="work.content" id="addressLine1" name="addressLine1" class="form-control" required="true" value="" type="text"></textarea></div>
      </div>
    </div>
    <div class = "buttons">
        <button class="btn btn-labeled btn-primary addedit" [disabled]="this.file_work_selected!=false" id="save" (click)="flagimages()">עריכת תמונות</button>
        <button class="btn btn-labeled btn-primary pdf" [disabled]="this.file_work_selected!=false" id="save" (click)="flagpdf()">PDF הוספת\שינוי</button>

    </div>
    <div *ngIf="this.imges!=0">
        <legend>ערוך תמונות</legend>
        <div class= "pics" *ngFor="let images of this.work.images; let i=index">
            <img src='{{images.url}}'>
              <div class = "buttonss">
              <button *ngIf = "i>0" (click)="swapic(i)">בחר לתמונה ראשית</button>
              <button (click)="deletimg(i)">מחק תמונה</button>
              <button *ngIf = "i>0" (click)="swapup(i)">הזז למעלה</button>
              <button *ngIf = "i<this.work.images.length-1"(click)="swapdown(i)">הזז למטה</button>
              </div>
          </div>
          <button class = "addmore" (click)="flagmoreimages()">העלה תמונות נוספות</button>
    </div>
    <div *ngIf="this.pdf!=0">
        <legend>PDF ערוך</legend>
      </div>
      <h6>לצורך שמירת השינויים יש ללחוץ על הכפתור הירוק בתחתית דף זה</h6>
    </fieldset>
  </form>

  <button class="btn btn-labeled btn-primary addfinal" [disabled]="this.file_work_selected!=false" id="save" (click)="edit()">סיים ושמור שינויים</button>
</div>