
<div class = "selectedit">
<legend>בחר עבודה</legend>
<select class="user-type" [(ngModel)]="selectedWork" (ngModelChange)="onChangeObj()" name="selectedWork">
  <option *ngFor="let type of this.works" [value]="type">{{type}}</option>
</select>
</div>
<div *ngIf="selectedWork!='מתוך רשימה'">
    <form class="well form-horizontal">
      <fieldset>
          <legend>עריכת פרטים</legend>
    <div class="info">
    <div class="form-group">
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><input [(ngModel)]="work.title" name="title" style="height: 30px;" class="form-control" required="true" value="" type="text"><span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span></div>
      </div>
      <label>שם העבודה:</label>
    </div>
    <div class="form-group">
        <div class="col-md-8 inputGroupContainer">
           <div class="input-group"><input [(ngModel)]="work.subtitle" style="height: 30px;" name="first" class="form-control" required="true" value="" type="text"><span class="input-group-addon"><i class="	glyphicon glyphicon-briefcase"></i></span></div>
        </div>
        <label>כותרת משנית:</label>
     </div>
    <div class="form-group">
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><textarea [(ngModel)]="work.content" id="addressLine1" name="addressLine1" class="form-control" required="true" value="" type="text"></textarea><span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span></div>
      </div>
      <label>תיאור:</label>
    </div>
    <div class="form-group">
        <div class="col-md-8 inputGroupContainer">
          <div class="input-group"><textarea [(ngModel)]="work.workNum" id="workNum" name="workNum" class="form-control" required="true" value="" type="text"></textarea><span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span></div>
        </div>
        <label>שינוי מספור</label>
      </div>
    </div>
    <div class = "buttons">
        <button class="btn btn-labeled btn-primary addedit" [disabled]="this.file_work_selected!=false" id="save" (click)="flagimages()">עריכת תמונות</button>
        <button class="btn btn-labeled btn-primary pdf" [disabled]="this.file_work_selected!=false" id="save" (click)="flagpdf()">PDF הוספת\שינוי</button>
    </div>
    <div *ngIf="this.imges!=0">
        <legend>ערוך תמונות</legend>
        <div class= "pics col-md-8" *ngFor="let images of this.work.images; let i=index">
        <div class="btn-group" role="group" aria-label="Basic example">
               
                <button *ngIf = "i>0" (click)="swapup(i)" type="button" class="btn btn-info" ><i class="fa fa-arrow-up"></i></button>
                <button *ngIf = "i<this.work.images.length-1"(click)="swapdown(i)" type="button" class="btn btn-info"><i class="fa fa-arrow-down"></i></button>
                <button (click)="deletimg(i)" type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
            </div>
            <div class="images">
                <img src='{{images.url}}'>
                <br>
            </div>
          </div>
        <button class = "addmore" (click)="flagmoreimages()">העלה תמונות נוספות</button>
          <div *ngIf= "this.moreimages!=0">
            
            <legend>הוסף תמונות</legend>
            <div *ngFor="let item of this.arr; let i = index" class="input-group image-preview">
                <div *ngIf="i<this.counter">
                <div class="btn btn-default image-preview-input">
                    <input type="file" (change)="selectFile($event)" name="fileupload" />
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                    <span class="image-preview-input-title">בחר קובץ</span>
                </div>
                <!-- <div class="form-group" *ngIf="this.selectedFiles != null && i==this.counter-1" >{{this.selectedFiles.item(0).name}}</div> -->
                <div class="buttons2">
                    <button *ngIf="i==this.counter-1" type="button" class="btn btn-labeled btn-primary"  (click)="upload(0)">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-upload"></i>&nbsp;
                        </span>העלה קובץ</button>
                    <button *ngIf="i==this.counter-1" type="button" class="btn btn-labeled btn-primary" [hidden]="this.selectedFiles !=true" (click)="cancelSelectFile()">
                        <span class="btn-label">
                        </span>בטל בחירה</button>
                    <button *ngIf="i==this.counter-1" class="btn btn-labeled btn-primary additional" id="save" (click)="counterUp()">העלה תמונה נוספת</button>
                </div>
                <div class="form-group" *ngIf="currentFileUpload && i==this.counter-1" class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" attr.aria-valuenow="{{progress.percentage}}"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                        {{progress.percentage}}%</div>
                </div>
            </div>
            </div>
            
          </div>
    </div>
    <div class="pdfdiv" *ngIf="this.pdf!=0">
        <legend>PDF ערוך</legend>
        <div *ngIf="this.work.pdf == undefined">
          <h3>כרגע אין קובץ במערכת</h3>
        </div>
        <div *ngIf="this.work.pdf != undefined">
            <h3>במערכת טעון המסמך: {{this.work.pdf.name}}</h3>
          </div>
            <div class="input-group image-preview">
              
                <div class="btn btn-default image-preview-input">
                    <input type="file" (change)="selectFile($event)" name="fileupload" />
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                    <span class="image-preview-input-title">בחר קובץ</span>
                </div>
                <div class="buttons2">
                    <button type="button" class="btn btn-labeled btn-primary"  (click)="upload(1)">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-upload"></i>
                        </span>העלה קובץ</button>
                    <button type="button" class="btn btn-labeled btn-primary" [hidden]="this.selectedFiles !=true" (click)="cancelSelectFile()">
                        <span class="btn-label">
                        </span>בטל בחירה</button>
                </div>
                <div class="form-group" *ngIf="currentFileUpload" class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" attr.aria-valuenow="{{progress2.percentage}}"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress2.percentage+'%'}">
                        {{progress2.percentage}}%</div>
                </div>
         </div>
      </div>

    </fieldset>
    
    <div class="buttons3">
            <br>
            <br>
          <button class="btn btn-labeled btn-success addfinal" [disabled]="this.file_work_selected!=false" id="save" (click)="edit()">סיים ושמור שינויים</button>
          <button class="btn btn-labeled btn-danger delete" id="save" (click)="deleteWork()">מחק פרויקט</button>
            </div>
  </form>

 
</div>