<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<button class="alo" (click)="upload()">העלאת עבודה חדשה</button>
<button class="alo" >עריכת עבודה</button>

<div class="container">
	<div class="row">
        <div class="content" *ngFor="let work of this.db.worksList; let i = index">
                  <div class="content-overlay"></div>
                  <img class="img-responsive" src='{{work.images[0].url}}' (click) = "viewWork()"/>
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">{{work.title}}</h3>
                  </div>
        </div>
  </div>
</div>