.alo{
    width: 60%;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;

}

button{
    margin: 1px;
}

.additional{
    background-color: rgba(248, 103, 19, 0.877);
}

.addfinal{
    background-color: darkgreen;
}

.buttons{
    float: right;
}

.uniq{
    background-color: rgb(238, 190, 175);
}