<div class="container">
    <table class="table table-striped">
       <tbody>
          <tr>
             <td colspan="1">
                <form class="well form-horizontal">
                   <fieldset>
                      <div class="form-group">
                         <label class="col-md-4 control-label">שם העבודה</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="	glyphicon glyphicon-briefcase"></i></span><input [(ngModel)]="work.title" name="first" class="form-control" required="true" value="" type="text"maxlength="16"></div>
                         </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 control-label">כותרת משנית</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="	glyphicon glyphicon-briefcase"></i></span><input [(ngModel)]="work.subtitle" name="sub" class="form-control" required="true" value="" type="text" maxlength="14"></div>
                        </div>
                     </div>
                      <div class="form-group">
                         <label class="col-md-4 control-label">תיאור</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span><textarea [(ngModel)]="work.content" id="addressLine1" name="addressLine1" class="form-control" required="true" value="" type="text"></textarea></div>
                         </div>
                      </div>


                      <div class="form-group uniq">
                        <label class="col-md-4 control-label">העלאת קובץ PDF</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group image-preview">
                             
                               <div class="btn btn-default image-preview-input">
                                   <input type="file" (change)="selectFile($event)" name="fileupload" />
                                   <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                                   <span class="image-preview-input-title">בחר קובץ</span>
                               </div>
                               <!-- <div class="form-group" *ngIf="this.selectedFiles != null" >{{this.selectedFiles.item(0).name}}</div> -->
                               <div class="buttons">
                                   <button type="button" class="btn btn-labeled btn-primary"  (click)="upload(1)">
                                       <span class="btn-label">
                                           <i class="glyphicon glyphicon-upload"></i>
                                       </span>העלה קובץ</button>
                                   <button type="button" class="btn btn-labeled btn-primary" [hidden]="this.selectedFiles !=true" (click)="cancelSelectFile()">
                                       <span class="btn-label">
                                       </span>בטל בחירה</button>
                               </div>
                               <div class="form-group" *ngIf="currentFileUpload" class="progress">
                                   <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" attr.aria-valuenow="{{progress2.percentage}}"
                                       aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress2.percentage+'%'}">
                                       {{progress2.percentage}}%</div>
                               </div>
                           </div>
                        </div>
                     </div>


                      <div class="form-group">
                         <label class="col-md-4 control-label">{{txtupload}}</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div *ngFor="let item of this.arr; let i = index" class="input-group image-preview">
                                <div *ngIf="i<this.counter">
                                <div class="btn btn-default image-preview-input">
                                    <input type="file" (change)="selectFile($event)" name="fileupload" />
                                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                                    <span class="image-preview-input-title">בחר קובץ</span>
                                </div>
                                <!-- <div class="form-group" *ngIf="this.selectedFiles != null && i==this.counter-1" >{{this.selectedFiles.item(0).name}}</div> -->
                                <div class="buttons">
                                    <button *ngIf="i==this.counter-1" type="button" class="btn btn-labeled btn-primary"  (click)="upload(0)">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-upload"></i>
                                        </span>העלה קובץ</button>
                                    <button *ngIf="i==this.counter-1" type="button" class="btn btn-labeled btn-primary" [hidden]="this.selectedFiles !=true" (click)="cancelSelectFile()">
                                        <span class="btn-label">
                                        </span>בטל בחירה</button>
                                </div>
                                <div class="form-group" *ngIf="currentFileUpload && i==this.counter-1" class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" attr.aria-valuenow="{{progress.percentage}}"
                                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                                        {{progress.percentage}}%</div>
                                </div>
                                <div><button *ngIf="i==this.counter-1" class="btn btn-labeled btn-primary additional" id="save" (click)="counterUp()">העלה תמונה נוספת</button></div>

                            </div>
                            </div>
                            <button class="btn btn-labeled btn-primary addfinal" [disabled]="this.file_work_selected!=false" id="save" (click)="addWork()">add work</button>
                         </div>
                      </div>
                   </fieldset>
                </form>
             </td>
          </tr>
       </tbody>
    </table>
 </div>