
<br><br>
<div class="test">
<div class="container-fluid well span6">
	<div class="row-fluid">

        <div class="span8">
            <h3>יובל חפץ</h3>
            <h5>
                <ul>
                <li>
                    סטודיו אבסטרקט מתמחה בעיצוב גרפי, מיתוג
                </li>
                <li> ותדמית לדפוס ולרשת. תהליך העבודה כולל גיבוש </li>
                <li>ותכנון, עיצוב וביצוע הפרויקט. רמה עיצובית גבוהה</li>
                <li>כולל פיקוח על ההדפסה.</li>
                </ul>
            </h5>
            <h5>
                <ul>
                    <li>
                            נסיון רב בעיצוב והפקות:</li>
                    <li>
                            לוגו ותדמית, ברושורים, חוברות מידע, מגזינים,</li>
                    <li>
                            קטלוגים, שילוט, באנרים ופרסומים.</li>
                    <li>
                            הסטודיו הוקם בשנת 1998 ע"י יובל חפץ העומד מאז
                            </li>
                            <li>
                                    בראשו.</li>
                </ul>
            </h5>
            <br>
            בין לקוחותינו:
            <ul class="fixlist">
                <li>האוניברסיטה העברית</li>
                <li>בית שמואל</li>
                <li>התנועה המסורתית</li>
                <li>הקרן לירושלים</li>
                <li>משכנות שאננים</li>
                <li>הפורום להסכמה אזרחית</li>
                <li>מכון טרומן</li>
                <li>הקרן לידידות</li>
                <li>נישה קונספט</li>
            </ul>
        </div>

        <div class="span2" >
		    <img src="assets/pp.jpg" class="img-thumbnail" >
        </div>
        
</div>
</div>
</div>