<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br><br>
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="span2" >
		    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlQpGyNGeS-e1YW92cbhRFfEWna8TZN3IKdDsw1o07r8kJxLPlmQ" class="img-thumbnail" >
        </div>
        
        <div class="span8">
            <h3>בנימין נתניהו</h3>
            <h5>
                בנימין נתניהו הוא ראש ממשלת ישראל, שר החוץ ושר הבריאות הנוכחי. נתניהו כיהן כראש ממשלה במשך שתי תקופות: הראשונה, בראשות ממשלת ישראל העשרים ושבע, בשנים 1996–1999, והשנייה, שהחלה ב-2009 בראשות ממשלת ישראל השלושים ושתיים ונמשכת עד היום. נתניהו כיהן בממשלות ישראל גם כשר האוצר וכשר החוץ, וכן כראש האופוזיציה.
            </h5>
        </div>
        
</div>
</div>